doctype html
html(lang="en")

	head
		meta(charset="utf-8")
		block description
			title Matthias Beitl, @cssence
			meta(name="description" content="Business Card and Résumé of web developer and CSS enthusiast Matthias Beitl.")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		<!--[if !IE]><!-->
		block stylesheets
			style
				include ../public/style.min.css
			style(media="screen")
				each bookmark in bookmarks
					if bookmark.color
						= "." + bookmark.id + ":focus,." + bookmark.id + ":hover{background-color:" + bookmark.color + "}"
		link(rel="manifest", href="/manifest.json")
		meta(name="theme-color", content="#bada55")
		block icons
			each icon in manifest.icons
				link(rel="icon", type=icon.type, sizes=icon.sizes, href=icon.src)
		<!--<![endif]-->
		block alternate
			each alternate in downloads
				link(rel="alternate", type=alternate.type, href=alternate.href)
		if pages[path].noindex
			meta(name="robots", content="noindex")

	body
		if pages[path].noindex
			section.screen(role="alert")!= pages[path].noindex
		main
			block content
				include vcard
				include cv
				include bookmarks
		include footer
		script
			include ../public/start.min.js
