doctype html
block variables
	- var attr = {}
html(lang="en", manifest="/offline.appcache")

	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		title= (attr.title ? attr.title + " — " : "") + "Matthias Beitl (@cssence)"
		if attr.description
			meta(name="description" content=attr.description)
		block stylesheets
			if verbose
				link(rel="stylesheet", href="/style.css")
			else
				style
					include ../public/style.min.css
			style(media="screen")
				each bookmark in bookmarks
					if bookmark.color
						= "." + bookmark.id + ":focus,." + bookmark.id + ":hover{background-color:" + bookmark.color + "}"
		block icons
			link(rel="icon", type="image/jpeg", sizes="300x300", href="/photo.jpg")
			link(rel="icon", type="image/x-icon", sizes="16x16 32x32", href="/favicon.ico")
		if attr.alternate
			link(rel="alternate", type=attr.alternate.type, href=attr.alternate.href)

	body
		.content(class=attr.tags)
			include header
			main.segment(role=attr.role)
				block content
		include bookmarks
		include footer
